/**********
*   ROOT  *
**********/

:root {
    --nav-color:#2c3e50;
    --text-nav-color:#ffffff;
    --hero-about-color:#1abc9c;
    --hero-text-color:#ffffff;
}

/**********
*  COOMON *
**********/

.wrapper {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}



/**********
*  HEADER *
**********/

/********** NAV **********/

header {
    background-color: var(--nav-color);
    height: 70px;
}

header nav.container {
    /*debug*/
    background-color: var(--text-nav-color);
    height: 100%;
}

/**********
*  MAIN    *
**********/

/********** HERO **********/
#hero {
    background-color: var(--hero-about-color);
}

#hero .wrapper {
    background-color: #ffffff;
}

/********** PORTFOLIO **********/
#portfolio {
    /*debug*/
    background-color: rgb(175, 212, 212);
}

#portfolio .row> * {
    /*debug*/
    border: 2px solid black;
    background-color: yellowgreen;
}

/********** ABOUT **********/
#about {
    background-color: var(--hero-about-color);
}

#about .row> * {
    /*debug*/
    border: 2px solid black;
    background-color: yellowgreen;
}